<style>
<link rel="stylesheet" type="text/css" href="custom.css">
.head {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    background-color: #ffffff;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-bottom:8px solid  rgb(192, 233, 192);
}
/* .navbar-banner { */
#name {
  position: fixed;
  color:grey;
background-color:whitesmoke;
font-family: 'Times New Roman', Times, serif ;
font-size: 30px;
float: left;
padding: 10px 20px;
margin-left: 100px;

}

.navbar-nav {
margin-left: 1100px;

}
.outterbox {
margin: 75px 75px 75px 75px;
padding: 0 20px 15px 20px;
background-color: #ffffff;
border: solid 1px #dddddd;
line-height: 150%;
color:#777777;
}
body {
    font-family: monospace;
    font-size: 18px;
    line-height: 34px;
    color: #777777;
    background-color: white;
    /* <!-- //insert background pattern here//  --> */
    background-image: url("./Assets/Images/email.png");
}
/* inserting portfolio css */
{
    box-sizing: border-box;
  }
  body {
    background-color: #ffffff;
    padding: 20px;
    font-family: monospace;
  }
  .main {
    max-width: 1000px;
    margin: auto;
  }
  h1 {
    color: rgb(192, 233, 192);
    padding-top: 10px;
    font-family: monospace;
  }
  h2 {
    font-size: 50px;
    word-break: break-all;
    color: rgb(192, 233, 192);
    padding-top: 10px;
  }
  .row {
    margin: 8px -16px;
  }
  .row,
  .row > .column {
    padding: 8px;
  }
  .column {
    float: left;
    width: 25%;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  #content {
    background-color:#ffffff;
    padding: 10px;
    /* overflow: auto; */
    position: relative;
  } 
  #caption {
    position: absolute;
    background-color:  white;
    color:rgb(192, 233, 192) ;
    margin-top: -60px;
    text-align: center;
    width: 100%;
    
  }
  
/* inserting contact css  */
body {font-family: monospace;}
* {box-sizing: border-box;}

input[type=text], select, textarea {
  width: 960px;
  padding: 12px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  /* margin-top: 6px; */
  /* margin-bottom: 16px; */
  resize: vertical;
}

#fname, #Email, #Message {
    width: 100%;
}

input[type=submit] {
  background-color: #ffffff;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color:#ffffff;
}

.container {
  border-radius: 5px;
  background-color: #ffffff;
  padding: 20px;
}


h3 {
    color:  rgb(192, 233, 192);
    padding-top: 10px;
}
#submit {
    background-color:  rgb(192, 233, 192);
    border: 1px solid #cccccc;
    color: white;
}
footer {
  border-top:8px solid  rgb(192, 233, 192);
  color:white;
}
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color:#666666;
   text-align: center;
   font-family: monospace;
   font-size: 14px;
}
@media screen and (max-width: 768px) {
    .navbar {
        background-color:  rgb(192, 233, 192);
    }
    .wrapper {
        width: 728px;
    }
}

</style>